/*Área destinada para - Criar REGRAS de FORMATAÇÃO CSS*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    /*url = src (indicar o caminho da imagem)*/
    background-attachment: fixed;
    /*Deixa a imagem de fundo fixa*/
    background-size: cover;
    /*Preenche toda tela com a imagem - precisa de imagem de qualidade*/
}


/*Seletor identificado*/
#container {
    background-color: rgba(252, 252, 252, 0.87);
    width: 70%;
    /*Delimita o tamanho horizontal do elemento*/
    height: auto;
    /*Delimita o tamanho vertical do elemento*/
    margin: auto;
    border-radius: 9px;
    /*arredonda o canto das bordas*/
    padding: 9px;
    /*cria uma margem dentro do container*/

    /*       :rgbCor  distX  disty   blur*/
    box-shadow: rgba(128, 128, 128, 0.678) 8px 8px 3px;

}


/*Delimitar o tamanho das imagens para caber no div*/
img {
    max-width: 100%;
    /*aumenta e diminui até o tamanho máxo da imagem*/
}

figure {
    text-align: center;
    /*Centraliza tudo que está contido dentro do elemento "figire"*/
}

/*
Exercício:
Criar regra CSS contendo as seguintes propriedades.
- fonte: Impact, Verdana, Arial e sans-serif
- Cor de fundo: escura com transparência
- Cor do texto: clara
- Espaçamento: interno APENAS para cima e para baixo
- letras maiúsculas
- texto alinhado no meio
- Bordas arredondadas APENAS nos cantos superiores
- Sombra no texto
*/

h1 {
    font-family: Impact, Verdana, Arial, sans-serif;
    background-color: rgba(0, 55, 59, 0.493);
    color: rgb(231, 231, 231);
    padding-top: 15px;/*espaçamento interno do top(em cima)*/
    padding-bottom: 15px;/*espaçamento interno do bottom(em baixo)*/
    text-transform: uppercase;/*Deixa o texto em letras MAIÚSCULAS (lowercase - minuscula)*/
    text-align: center;

    /*para arredondar a borda pode usar = border-radius: 10px(top esquerdo) 10px(topo direito) 0px 0px*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.555) 5px 5px 3px;/*Aplica sombra no texto*/
    padding-left: 15px;
    letter-spacing: 2px;/*Mexe no espaçamento das letras (letter)*/
    font-weight: normal;
    -webkit-text-stroke: 1px rgba(68, 68, 68, 0.575);/*cria borda no texto, mas possui chances de incompatibilidade entre navegadores antigos que não usam a engine -webkit*/
    box-shadow: rgba(0, 0, 0, 0.37) 5px 5px 5px;
}

h2 {
    font-size: 20;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 20px ;
    padding: 10px;    
}


/*Acima são todos seletores de TAG (alterações vale para todas as tags daquele tipo)*/

/*Abaixo serão seletores Descendente (alterações vale para todas as tags CONTIDA em um grupo específico)*/
nav a { 
    color: black;
}

figure img{
    transform: scale(0.9);
    transition: 0.5s;
    filter: grayscale(100%);
}

/*Usando SUBCLASSE "hover" */
figure img:hover{
    transform: scale(1);
    filter: grayscale(0%);
}

div nav a{
    transform: scale(0.9);
    transition: 0.3s;
    display: inline-block;/*Usar atributo "DISPLAY: INLINE-BLOCK" para modificar a tratativa da tag "a"(link)*/
}

div nav a:hover{
    transform: scale(1);
    transition: 0.3s;}

/*Criar grupo de seletores usa-se a " , " */
p, li {font-size: 18px;}

/*Seletor de CLASSE*/
.centralizar {text-align: center;}

.sombra {text-shadow: gray;}

.destaque {
    background-color: aquamarine;
    color: rgb(126, 1, 126);
    padding: 3px;
    border-radius: 5px;
    border-style: groove;
}

.destaque-back{
    background-color: rgba(255, 255, 0, 0.466);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*Seletor identificado (#) pode ser usado apenas 1 ID por página, uma página pode ter diversos ID com nomes diferentes.*/


