/*Área destinada para - Criar REGRAS de FORMATAÇÃO CSS*/


/*Seletor universal utiliza-se o " * " , utilizando esta regra evitamos probremas ocasionais quando usamos propriedades que redimencionam qualquer coisa no site (width, height, paddin, border etc...) */
*{box-sizing: border-box;}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    /*url = src (indicar o caminho da imagem)*/
    background-attachment: fixed;
    /*Deixa a imagem de fundo fixa*/
    background-size: cover;
    /*Preenche toda tela com a imagem - precisa de imagem de qualidade*/
}


/*Seletor identificado*/
#container {
    background-color: rgba(252, 252, 252, 0.87);
    width: 70%;
    /*Delimita o tamanho horizontal do elemento*/
    height: auto;
    /*Delimita o tamanho vertical do elemento*/
    margin: auto;
    border-radius: 9px;
    /*arredonda o canto das bordas*/
    padding: 9px;
    /*cria uma margem dentro do container*/

    /*       :rgbCor  distX  disty   blur*/
    box-shadow: rgba(128, 128, 128, 0.678) 8px 8px 3px;

}


/*Delimitar o tamanho das imagens para caber no div*/
img {
    max-width: 100%;
    /*aumenta e diminui até o tamanho máxo da imagem*/
}

figure {
    text-align: center;
    /*Centraliza tudo que está contido dentro do elemento "figire"*/
}

/*
Exercício:
Criar regra CSS contendo as seguintes propriedades.
- fonte: Impact, Verdana, Arial e sans-serif
- Cor de fundo: escura com transparência
- Cor do texto: clara
- Espaçamento: interno APENAS para cima e para baixo
- letras maiúsculas
- texto alinhado no meio
- Bordas arredondadas APENAS nos cantos superiores
- Sombra no texto
*/

h1 {
    margin: 0;
    font-family: Impact, Verdana, Arial, sans-serif;
    background-color: rgba(0, 55, 59, 0.493);
    color: rgb(231, 231, 231);
    padding-top: 15px;/*espaçamento interno do top(em cima)*/
    padding-bottom: 15px;/*espaçamento interno do bottom(em baixo)*/
    text-transform: uppercase;/*Deixa o texto em letras MAIÚSCULAS (lowercase - minuscula)*/
    text-align: center;

    /*para arredondar a borda pode usar = border-radius: 10px(top esquerdo) 10px(topo direito) 0px 0px*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.555) 5px 5px 3px;/*Aplica sombra no texto*/
    padding-left: 15px;
    letter-spacing: 2px;/*Mexe no espaçamento das letras (letter)*/
    font-weight: normal;
    -webkit-text-stroke: 1px rgba(68, 68, 68, 0.575);/*cria borda no texto, mas possui chances de incompatibilidade entre navegadores antigos que não usam a engine -webkit*/
    /*box-shadow: rgba(0, 0, 0, 0.37) 5px 5px 5px;*/
}

h2 {
    font-size: 20;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 20px ;
    padding: 10px;    
}


/*Acima são todos seletores de TAG (alterações vale para todas as tags daquele tipo)*/

/*Abaixo serão seletores Descendente (alterações vale para todas as tags CONTIDA em um grupo específico)*/


figure img{
    transform: scale(0.9);
    transition: 0.5s;
    filter: grayscale(100%);
}

/*Usando SUBCLASSE "hover" */
figure img:hover{
    transform: scale(1);
    filter: grayscale(0%);
}


    

/*Criar grupo de seletores usa-se a " , " */
p, li {font-size: 18px;}

/*Seletor de CLASSE*/
.centralizar {text-align: center;}

.sombra {text-shadow: gray;}

.destaque {
    background-color: aquamarine;
    color: rgb(126, 1, 126);
    padding: 3px;
    border-radius: 5px;
    border-style: groove;
}

.destaque-back{
    background-color: rgba(255, 255, 0, 0.466);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*Seletor identificado (#) pode ser usado apenas 1 ID por página, uma página pode ter diversos ID com nomes diferentes.*/



/********************************/

/***Estado inicial dos links***/
nav {text-align: center;
}

nav a{
    color: black;
    font-weight: bold;
    background-color: rgb(0, 55, 59, 0.493);
    display: inline-block;
    width: 50%;
    /*border-radius: 5px;*/
    /*border-style: groove;*/
    padding-block: 2%;
    transform: scale(1);
    transition: 0.3s;
}

nav a:hover, nav a:focus{
    transform: scale(1);
    transition: 0.5s;
    color:aliceblue;   
}

nav a:hover, nav a:focus{
    background-color: rgb(39, 39, 39);
}

nav a:first-child{
    border-bottom-left-radius: 9px;
}

nav a:last-child{
    border-bottom-right-radius: 9px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul li{
    color: brown;
    list-style-type: square;
}

ul li::marker{
    content: " 🖤 ";
    font-size: 24px;
    font-weight: bolder;
    color: rgba(255, 8, 8, 0.918);
}

ul li:first-child{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.075);
}

ul li:last-child{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.075);
}

ul li:nth-child(3){
    color : rgb(0, 155, 64);
}

/*Alternando cores em uma lista*/

ul li:nth-child(even){background-color: rgba(240, 128, 128, 0.74);}
ul li:nth-child(odd){background-color: gainsboro;}

details{
    border: solid 5px;
    padding: 8px;
}

summary{
    font-weight: bold;
    cursor: pointer;
}

summary::marker{content: " 😑 ";}

/*Seletor de atributos []  , utilizado para atribuir determinado comportamento sobre os ATRIBUTOS já existente */

details[open] summary::marker{content: " 😛 ";}

